
{% extends 'base.html' %}
{% block title %} Acerca de... {% endblock %}
{% block content %}
	<br> MOCEL es una nueva empresa de tecnología movil celular que ha llegado a Venezuela. 
	<br><br><br> Fundada desde los inicios del 2013, tras una trayectoria de casi un año de trabajo,
	<br><br><br> ha logrado un puesto en el mercado de ventas, contando ya con mas de 20 usuarios
	<br><br><br> registrados a lo largo y ancho del territorio nacional y una variedad de productos
	<br><br><br> celulares que se adaptan a las necesidades del cliente.
	<br><br><br><br><br><br><br> * MOCEL, tu telefonía contigo {{ msg }} *
{% endblock %}
 