
{% extends 'home/AdminMocel.html' %}
{% block title %} Agregar Cliente {% endblock %}
{% block content %}
<div style=" text-align: center">
	<form action="." method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Grabar">
	<input type="reset" value="Limpiar">
    </form>
</div>
<br>
	<center>{{ informacion }}</center>
    {% if numero == 0 %}
    <center><a href="{% url "vista_afiliaciones" %}"> Ir a Afiliaciones</a><center/>
    {% endif %}
</br>
{% endblock %}